.banner{
    display: flex;
    background-image: linear-gradient(135deg, #8be5d3, #8be5d3);
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: -1;
    position: relative;
    margin-top: -100px;
}

.about-faras{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    flex-direction: column;
    padding: 20px;
}

.container-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
}

.logo-about{
    display: flex;
}
.banner-about{
    display: flex;
    background-image: linear-gradient(135deg, #8be5d3, #8be5d3);
    max-width: 75%;
    height: auto;
    border-radius: 20px;
    position: relative;
    padding: 30px;
    font-family: 'Popins', sans-serif;
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
}

.container-information{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    padding: 20px;
    
    background-color: #8be5d3;
}


